body {
	background-color: #ffffff;
}

h1{
	text-align:center;
}
#titleId { 
	color: #006ddb;
    font-family:geneva;
    font-size:170%;
    text-align:center;
        
}

#researchId {
	color: #0080ff;
    font-family:geneva;
    font-size:150%;
    text-align:center;
}

#picId { 
	text-align:center;
}

#dropId { 
	text-align:center;
}